.wrapper {
	padding: 50px;
  }
  
  .search-container {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
  }
  
  .search-bar {
	margin-top: 20px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
  }
  
  .order-table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
  }
  
  .order-table th,
  .order-table td {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  .order-table th {
	background-color: #f4f4f4;
	font-weight: bold;
  }